html, body, #root {
  height: 100%;
}

.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 16px;
  /* padding-top: 16px; */
}

.navbar {
  height: 30px;
}

.page-content {
  flex: 1;
  min-height: 0;
  overflow: hidden;
}